# Dataset
data/
dataset/
datasets/

# CelebA Spoof
data/CelebA_Spoof/

# Bounding Box
*_BB.txt

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Model weights
*.pth
*.pt
*.ckpt

# Virtual Environment
venv/
.venv/